.slick-prev, .slick-next {
  width: 40px;
  height: 40px;
  background-color: orangered; /* Customize as needed */
  border-radius: 50%;
  z-index: 10; /* Ensure the arrows are on top of other elements */
}

.slick-prev {
  left: 10px; /* Adjust as needed */
}

.slick-next {
  right: 10px; /* Adjust as needed */
}

/* Optional: Adjust positioning for mobile screens */
@media (max-width: 767px) {
  .slick-prev, .slick-next {
    width: 30px;
    height: 30px;
  }
}
